* {
    margin: 0;
    padding: 0;
}


/*html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

body {
    background: #eaeaea;
}

#root {
    position: relative;
    height: 100%;
    /*margin-top: 70px;*/
    /*overflow: hidden;*/
    background: #fff;
}

.info {
    position: relative;
    z-index: 10px;
    width: 100%;
    height: 70px;
    overflow: auto;
    background: grey;
    color: #fff;
    z-index: 11;
    text-align: center;
}

.list {
    user-select: none;
    text-align: center;
    line-height: 40px
}

.item {
    height: 40px;
    border-top: 1px solid #eaeaea;
}

.pull-up {
    text-align: center;
    width: 100%;
    height: 40px;
    color: #fff;
    background: red;
    line-height: 40px;
}

.wrapper {
    position: relative;
    text-align: center;
}

.pull_refresh {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #00a9f2;
    z-index: 10;
}

.arrow {}

.arrow:after {
    content: "Pull to refresh";
}

.arrow_up.arrow:after {
    content: "Release to refresh";
}

.arrow_up img {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.pull_refresh img {
    width: 20px;
    transition: transform .4s ease;
}

.pull_refresh.refreshing .pull {
    display: none;
}

.pull_refresh.refreshing .loading {
    display: block;
    margin-top: 30px;
}

.wording {
    margin-bottom: 14px;
}

.pull_refresh .pull {
    display: block;
}

.pull_refresh .loading {
    display: none;
}
