* {
    margin: 0;
    padding: 0;
}


body {
    background: #eaeaea;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

#root {
    position: relative;
    height: 100%;
    background: #fff;
}

.app {
    height: 100%;
}

.info {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 70px;
    overflow: auto;
    background: grey;
    color: #fff;
    z-index: 12;
    text-align: center;
}

.list {
    position: relative;
    user-select: none;
    text-align: center;
    line-height: 40px
}

.item {
    height: 50px;
    border-top: 1px solid #eaeaea;
    position: relative;
    line-height: 50px;
    overflow: hidden;
}

.item .close-button {
    position: absolute;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background: red;
    color: #fff;
    z-index: -1;
    text-align: left
}

.item .content {
    position: relative;
    z-index: 1;
}

.pull-up {
    display: none;
    text-align: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: #fff;
    background: red;
    line-height: 40px;
}

.wrapper {
    position: relative;
    text-align: center;
}

.pull_refresh {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #00a9f2;
    z-index: 11;
}

.arrow {}

.arrow:after {
    content: "Pull to refresh";
}

.arrow_up.arrow:after {
    content: "Release to refresh";
}

.arrow_up img {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.pull_refresh img {
    width: 20px;
    transition: transform .4s ease;
}

.pull_refresh.refreshing .pull {
    display: none;
}

.pull_refresh.refreshing .loading {
    display: block;
    margin-top: 30px;
}

.wording {
    margin-bottom: 14px;
}

.pull_refresh .pull {
    display: block;
}

.pull_refresh .loading {
    display: none;
}
